@charset "UTF-8";
body {
  background: #58575711;
  margin: 0;
  padding: 0;
}

body #BossKING {
  width: 100%;
  position: fixed;
  z-index: 1;
  height: 100%;
  background: #000000b2;
  display: none;
}

body header {
  background: #58575711;
  font-family: DejaVu Sans Mono, monospace;
  width: 100%;
  min-width: 510px;
  max-height: 110px;
  min-height: 50px;
  background: rgba(61, 60, 59, 0.98);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

body header #MainColumn {
  background: white;
  height: 110%;
  margin-left: 15%;
  margin-right: 15%;
}

body header a {
  margin-left: 20px;
  text-decoration: none;
  color: #f3f3f3fa;
  font-size: 15px;
}

body header a:hover {
  color: #9b9998fa;
}

body header #leftHead {
  min-width: 400px;
  font-size: 25px;
  color: #f3f3f3fa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 45%;
}

body header #leftHead #left_bar_header {
  font-size: 25px;
  color: #f3f3f3fa;
  min-width: 408px;
}

body header #leftHead #left_bar_header #logo img {
  width: 35px;
  height: 35px;
  vertical-align: middle;
  border-radius: 7px;
}

body header #leftHead #div_search {
  width: 300px;
  position: relative;
  margin-top: 6px;
  margin-bottom: 6px;
}

body header #leftHead #div_search form {
  width: 300px;
  vertical-align: -5%;
  margin-left: 20px;
}

body header #leftHead #div_search input {
  width: 300px;
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
  outline: 0;
  outline-offset: 0;
  border-radius: 3px;
  font-size: 14px;
  padding: 7px 30px 7px 7px;
  -moz-box-sizing: border-box;
  -moz-box-sizing-box-sizing: border-box;
  border: none;
  font: 14px Tahoma, Arial, sans-serif;
}

body header #leftHead #div_search #submit {
  background-size: cover;
  position: absolute;
  top: 5%;
  left: 95%;
  width: 10px;
  height: 30px;
  /* растягиваем кнопку на всю высоту формы */
  cursor: pointer;
  background: url(https://lh4.googleusercontent.com/-b-5aBxcxarY/UAfFW9lVyjI/AAAAAAAABUg/gQtEXuPuIds/s13/go.png) 50% no-repeat;
  /* добавляем прозрачность кнопке отправки */
  opacity: 0.5;
  cursor: default;
}

body header #leftHead #div_search #submit:hover {
  opacity: 0.8;
}

body header #rightHead {
  font-size: 25px;
  color: #f3f3f3fa;
  width: 21.02%;
  min-width: 170px;
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

body header #rightHead #upload_block {
  border: solid 3px #9b9998fa;
  background: rgba(158, 158, 158, 0.98);
  border-radius: 7px;
  height: 32px;
  margin-top: 6px;
  margin-left: auto;
}

body header #rightHead #upload_block #Upload {
  font-size: 17px;
  padding: 6px 9px 6px 9px;
  margin: 0%;
}

body header #rightHead #upload_block #Imgload {
  width: 20.01px;
  height: 20.01px;
  margin: 0%;
  vertical-align: -15%;
  margin: 0%;
}

body header #rightHead #upload_block #span1 {
  margin: 0%;
}

body header #rightHead #upload_block #span1 a {
  margin: 0;
}

body header #rightHead #button_sign {
  margin-top: 4px;
  margin-left: auto;
  height: 38px;
  margin-bottom: 5px;
  padding-left: 6px;
  padding-right: 6px;
  border: solid 1px #9b9998fa;
  border-radius: 7px;
  text-align: center;
  margin-right: 2%;
}

body header #rightHead #button_sign #SignUp {
  margin: 0;
  font-size: 14px;
}

body header #rightHead #SignIn {
  margin-top: 14px;
  margin-right: auto;
}

body #filter_bar {
  width: 100%;
  height: 40px;
  background: #58575711;
}

body #window_search_results #result_box {
  margin: 0;
  min-height: 827px;
}

body #window_search_results #result_box li {
  margin: 0 5px;
  background-color: white;
  width: 351px;
  height: 266.5px;
  float: left;
  margin-bottom: 30px;
  border-radius: 2px;
  text-align: center;
  font-size: 25px;
  padding-top: 4px;
  list-style-type: none;
}

body #window_search_results #result_box li img {
  margin-top: 6.5px;
  height: 249.6px;
  width: 325px;
}

body #window_search_results #result_box li #show_bar {
  width: 351px;
  height: 60px;
  background: white;
  position: absolute;
  margin-top: 206px;
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  font-family: DejaVu Sans Mono, monospace;
  font-family: 'Corben', Georgia, Times, serif;
  color: black;
}

body #window_search_results #result_box li #show_bar #Left_Side {
  font-family: 'Corben', Georgia, Times, serif;
  font-family: DejaVu Sans Mono, monospace;
  text-align: left;
  width: 187px;
  float: left;
  height: 60px;
  margin-left: 13px;
  font-size: 12px;
}

body #window_search_results #result_box li #show_bar #Left_Side #Right_Side {
  margin-top: 7px;
  margin-bottom: 4px;
  font-family: 'Corben', Georgia, Times, serif;
  height: 20px;
  color: black;
  font-weight: bold;
}

body #window_search_results #result_box li #show_bar #Left_Side #Right_Side1 {
  color: #9b9998fa;
  font-size: 10px;
}

body #window_search_results #result_box li #show_bar #Middle_Side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  float: left;
  height: 60px;
  width: 151px;
}

body #window_search_results #result_box li #show_bar #Middle_Side #button_like_content {
  font-size: 11px;
  padding-top: 10px;
  height: 25px;
  width: 70px;
  font-family: DejaVu Sans Mono, monospace;
  border: solid 1px #d1cdcb93;
  border-radius: 5px;
  color: #9b9998fa;
  margin-top: 10px;
  font-weight: bold;
  cursor: pointer;
}

body #window_search_results #result_box li #show_bar #Middle_Side #button_like_content:hover {
  color: #4b4a4afa;
  border-color: #727272d7;
}

body #window_search_results #result_box li #show_bar #Middle_Side #button_save_content {
  font-weight: bold;
  font-size: 11px;
  color: #9b9998fa;
  padding-top: 10px;
  height: 25px;
  width: 70px;
  font-family: DejaVu Sans Mono, monospace;
  border: solid 1px #d1cdcb93;
  border-radius: 5px;
  margin-left: 5px;
  margin-top: 10px;
  margin-right: 10px;
  cursor: pointer;
}

body #window_search_results #result_box li #show_bar #Middle_Side #button_save_content:hover {
  color: #4b4a4afa;
  border-color: #727272d7;
}

body #main_window_img::-webkit-scrollbar {
  width: 0;
}

body #main_window_img {
  position: fixed;
  background: #f3f3f3fa;
  width: 808px;
  height: 99%;
  z-index: 1;
  position: absolute;
  top: 51%;
  left: 50%;
  margin-right: -50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: none;
  border-radius: 9px;
  overflow-x: scroll;
}

body #main_window_img a {
  text-decoration: none;
}

body #main_window_img #Profile_img {
  float: left;
  position: absolute;
  margin-left: 10px;
}

body #main_window_img #Profile_img img {
  margin-left: 10px;
  border-radius: 40px;
  width: 70px;
  height: 70px;
}

body #main_window_img #username_and_nameimg {
  font-family: 'Corben', Georgia, Times, serif;
  font-weight: bold;
  font-size: 20px;
  width: 60%;
  margin-left: 15%;
  margin-top: 27px;
  line-height: 30px;
}

body #main_window_img #username_and_nameimg #username_color {
  font-family: 'Corben', Georgia, Times, serif;
  color: #40789A !important;
}

body #main_window_img #username_and_nameimg a {
  margin-left: 3px;
  color: #DF3E7B;
  font-size: 18px;
  font-family: DejaVu Sans Mono, monospace;
}

body #main_window_img #username_and_nameimg span {
  font-size: 18px;
  color: #9b9998fa;
}

body #main_window_img #like_share {
  font-family: 'Corben', Georgia, Times, serif;
  font-weight: bold;
  font-size: 20px;
  left: 75%;
  top: 27px;
  position: absolute;
  line-height: 30px;
  width: 30%;
  float: right;
  -moz-user-select: none;
  -webkit-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: #9b9998fa;
}

body #main_window_img #like_share span {
  margin-left: 15px;
}

body #main_window_img #like_share #share_img {
  width: 20px;
  height: 20px;
  vertical-align: -15%;
  margin-left: 5px;
}

body #main_window_img #like_share #like_img {
  width: 20px;
  height: 20px;
  vertical-align: -15%;
  margin-left: 5px;
}

body #main_window_img #like_share #vertical_line {
  width: 4px;
  height: 65px;
  position: absolute;
  top: -27px;
  margin-left: 5px;
}

body #main_window_img img {
  height: 595.2px;
  width: 809.984px;
  margin-top: 20px;
}

body #main_window_img #description {
  font-family: 'Nobile', Helvetica, Arial, sans-serif;
  float: left;
  width: 486px;
  margin-left: 30px;
  margin-top: 30px;
  font-size: 14px;
  line-height: 22px;
}

body #main_window_img #description #count_like {
  font-family: 'Corben', Georgia, Times, serif;
  color: #9b9998fa;
  margin-bottom: 15px;
  font-size: 14px;
  font-weight: bold;
}

body #main_window_img #description #count_like span {
  margin-right: 30px;
  margin-left: 5px;
}

body #main_window_img #works_count_likes_and_shares {
  font-family: 'Corben', Georgia, Times, serif;
  float: right;
  width: 35%;
  margin-top: 10px;
  height: 250px;
}

body #main_window_img #works_count_likes_and_shares img {
  width: 35px;
  height: 35px;
  margin-left: 5px;
}

body #main_window_img #works_count_likes_and_shares #OneRow_modalWindow {
  margin-top: 10px;
  line-height: 30px;
  font-family: DejaVu Sans Mono, monospace;
  font-size: 18px;
}

body #main_window_img #works_count_likes_and_shares #TwoRow_modalWindow {
  line-height: 20px;
  margin-bottom: 20px;
  color: #9b9998fa;
  font-family: DejaVu Sans Mono, monospace;
}

body #main_window_img #works_count_likes_and_shares #button_send_owner {
  font-weight: 700;
  color: white;
  text-decoration: none;
  padding: 10px 68px 10px 68px;
  border-radius: 3px;
  background: #1bcc71;
  -webkit-box-shadow: 0 -3px #199e5c inset;
          box-shadow: 0 -3px #199e5c inset;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

body #main_window_img #works_count_likes_and_shares #button_send_owner:hover {
  background: #2eec8a;
}

body #main_window_img #works_count_likes_and_shares #button_send_owner:active {
  background: #00ff80;
  -webkit-box-shadow: 0 3px #00ff80 inset;
          box-shadow: 0 3px #00ff80 inset;
}

body #foot {
  float: left;
  width: 100%;
  background: rgba(61, 60, 59, 0.98);
  height: 55px;
}


/*# sourceMappingURL=style.css.map */