doctype html
html(lang="en")
  head
    title= pageTitle
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Corben")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Nobile")
    link(rel="stylesheet", href="../../style.css")
    script(type="text/javascript", src="../../script.js" defer)
  body
    #BossKING
    #main_window_img
      #Profile_img
        a(href="")
          img(src="../../img/8.jpg", alt="")
      #username_and_nameimg
        |My first project  
        br
        span
          |by 
        a#username_color(href="")
          |Marat 
        span
          ||
        = '    '
        a(href="")
          |Подписаться

      #like_share
        span#like_a
          |Like 
          img#like_img(src="../../img/like.png", alt="")
        img#vertical_line(src="../../img/vertical_line.png", alt="")
        span#share_a
          |Share
          img#share_img(src="../../img/share.png", alt="")
      img#main_window_this_img(src="", alt="")
      #description
        form(action="" )#count_like
          |Likes
          = '    '
          = '    '
          span
            |10

          |Shared
          = '    '
          = '    '
          span
            |2 
      
        |Hey there!
        br
        br
        |The future is now and we are here to prove it.
        br
        br
        |We’ve created an app for a smart home. With its help, users can control everything around them having only the phone in hands. Smart home management is an innovative way to make digital experience bloom.
        br
        br
        |Create a unique environment at home by tailoring the lights, sounds, and temperature to your taste and mood.
        br
        br
        |Be sure your house is protected with the CCTV integration, doors and windows blocking.
        br
        br
        |Design your own personalized scenarios: make the kettle boil, curtains open and music play at the time when your alarm clock goes off.
        br
        |Building a connected network of home appliances has never been this easy. We’re so proud of this work!
        br
        br
        br
        textarea#textarea(name="text", cols="65", rows="10")
      #works_count_likes_and_shares
        form(action="")#OneRow_modalWindow
          |Нравится?
        
        form(action="")#TwoRow_modalWindow
          |Предложи работу дизайнеру

        
        a#button_send_owner(href="")
          |Напиши ему
        br
        br
        
        a(href="")
          img(src="../../img/vk.png", alt="")
        a(href="")
          img(src="../../img/youtube.png", alt="")
        a(href="")
          img(src="../../img/insta.png", alt="")
        //- a(href="")
        //-   img(src="../../img", alt="")
 
        br

      
    header
      #leftHead
         #left_bar_header
           a(href="")
            span#logo
              img(src="../../img/logo.png", alt="logo_company")
           a(href="") Творчество 
           a(href="") Обучение
           a(href="") Работа
           a(href="") Контакты
         #div_search
          form(name='publish')
            input(type="search", placeholder="Поиск...", id="input_search", value='' )
            input(type="submit" id='submit' value='' name='')
      #rightHead
         #upload_block
          a#Upload(href="") Upload
          span#span1
              a(href="")
                img#Imgload(src="../../img/uploadActive.png", alt="")   
         #button_sign
          a#SignUp(href="") SignUp
         a#SignIn(href="") SignIn 
    #filter_bar

    div#window_search_results
      ol#result_box
        
      


    //- #foot1


    footer#foot
      
    //- #idHead
    //- #MainColumn
      